name: tests

on:
  push:
    branches: [master]
    tags: '*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.13
        cache: 'pip'
        cache-dependency-path: 'requirements-test.txt'

    - uses: astral-sh/ruff-action@v3
      with:
        args: "check --verbose"

    - name: mypy
      run: |
        pip install mypy
        mypy --verbose

  test-linux:
    needs: [linter]
    uses: asottile/workflows/.github/workflows/tox.yml@v1.8.1
    with:
      env: '["py310", "py311", "py312", "py313", "py314"]'
      os: ubuntu-latest
